<div>
<h5 class="text-center mt-8 mb-5"> Bem vindos a Netflix</h5>


    <div class="com-md-12">
        <h5 class="text-center ml-5">Filmes, séries e muito mais. Sem limites.</h5>
        <p class="text-center ml-5">Assista onde quiser. Cancele quando quiser</p>
        <p class="text-center"><button type="button" class="btn btn-outline-dark " id="netflix" routerLink='/netflix'>NETFLIX</button></p>
    </div>


<div class="parallax">
 <!-- PARALLAX -->
</div>
<div class="card text-center">
    <div class="card-header border-0">
      Experimente grátis por 1 mês
    </div>
    <div class="card-body border-0">
      <h5 class="card-title">Veja filmes e séries onde e quando quiser</h5>
      <p class="card-text">Aproveite</p>
      <p class="text-center"><button type="button" class="btn btn-danger "  routerLink='/cadastro'>Cadastrar</button></p>
    </div>
    <div class="card-footer text-muted border-0">
      <!-- Seja Premium -->
    </div>
  </div>
<h5 class="text-center mt-5">Sugestões</h5>
<!-- Card com sugestões de filmes -->
<div class="card-group">
    <!-- border-0 tira as bordas do card, basta colocar na div class="card" como feito abaixo -->
    <div class="card border-0">
      <img src="https://i.imgur.com/2hwIHcG.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Os Incríveis</h5>
        <p class="card-text">Depois que o governo baniu o uso de superpoderes, o maior herói do planeta vive agora uma vida normal. Apesar de feliz com a vida doméstica, o Sr. Incrível ainda sente falta dos tempos em que viveu como super-herói, e sua grande chance de entrar em ação novamente surge . Só que agora ele terá que contar com a ajuda de toda a família para vencer o vilão!</p>
        <p class="card-text"><small class="text-muted">Última atualização feita a alguns minutos atrás</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img src=" https://i.imgur.com/TQxkBN4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Valente</h5>
        <p class="card-text">A princesa Merida deve seguir os costumes do seu reino e tomar-se rainha ao lado do cavalheiro que conseguir a sua mão durante um torneio de arco e flecha. Mas Merida está determinada a trilhar o seu próprio caminho e desafia a tradição ancestral.</p>
        <p class="card-text"><small class="text-muted">Última atualização feita a alguns minutos atrás</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img src="https://i.imgur.com/LnR0hZo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Divertidamente</h5>
        <p class="card-text">Com a mudança para uma nova cidade, as emoções de Riley, que tem apenas 11 anos de idade, ficam extremamente agitadas. Uma confusão na sala de controle do seu cérebro deixa a Alegria e a Tristeza de fora, afetando a vida de Riley radicalmente.</p>
        <p class="card-text"><small class="text-muted">Última atualização feita a alguns minutos atrás</small></p>
       
      </div>
    </div>
  </div>
