<div class="container">

    <div class="row mt-5 mb-5">
       <div class="col-md-12">
          <h1 class="text-center">Teoria da Pixar!</h1>
       </div>
    </div>
 
    <div class="row mb-5">
       <div class="col-md-12">
          <p class="text-center">A teoria foi criada por um jornalista chamado Jon Negroni, isso lá em 2013. E desde então ela vem sendo atualizada por diversos fãs que tentam encaixar os lançamentos da Pixar nessa louca linha temporal.

            A Pixar já confirmou que seus filmes são interligados uns aos outros, mas como? Isso começou quando? De que forma isso acontece? A Teoria Pixar tem uma possível explicação para tudo isso!</p>
       </div>
    </div>
 </div>
 
    <div class="parallax"></div>
 
   <div class="row mt-5 mb-5">
      <div class="col-md-12 d-flex justify-content-center">
         <button class="btn btn-outline-dark" routerLink = '/teorias'>Ver Teorias</button>
      </div>
   </div>