<h5 class="text-center">Linha do tempo</h5>
<!-- <div class="row mb-5 mt-5">
    <div id="div1" class="col-md-12">
        <img src="https://i.imgur.com/4ejaxPH.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
            <h4>O início há 66 milhões de anos
            </h4>
            <p>O universo da Pixar pode ter sido criado há mais de 66 milhões de anos, isso lá em O Bom Dinossauro. No filme, eles mostram que os meteoros não extinguiram de vez os dinossauros, o que permitiu que eles continuassem na Terra ao lado dos humanos.

                Entretanto, depois de verem que não era possível sobreviverem como os seres humanos, eles acabaram morrendo e isso comprova que eles não puderam criar tanto combustível fóssil. É quando a história de energia humana, através de emoções, entra e vai ser explicada mais pra frente.</p>
        </div>

    </div>
</div>
<div class="row">
    <div id="div2" class="col-md-12">

    </div>
</div> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>

    </ol>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="https://i.imgur.com/4ejaxPH.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
            <h4>O início há 66 milhões de anos
            </h4>
            <p>O universo da Pixar pode ter sido criado há mais de 66 milhões de anos, isso lá em O Bom Dinossauro. No filme, eles mostram que os meteoros não extinguiram de vez os dinossauros, o que permitiu que eles continuassem na Terra ao lado dos humanos.

                Entretanto, depois de verem que não era possível sobreviverem como os seres humanos, eles acabaram morrendo e isso comprova que eles não puderam criar tanto combustível fóssil. É quando a história de energia humana, através de emoções, entra e vai ser explicada mais pra frente.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/MQJkg47.png" alt="Nature" style="width:100%;">
        <div class="text-block">
            <h4>Década das bruxas!
            </h4>
            <p>A teoria segue com Valente, em que a princesa Merida precisa ajudar sua família, que acabou virando ursos. Por conta disso, ela vai atrás da Bruxa para pedir ajuda e trazer sua mãe, seus irmãos e seus pais de volta ao normal.

                Essa personagem em questão é muito importante para o decorrer dessa maluca teoria. Sua magia pode fazer objetos inanimados e animais se comportarem como humanos. O que pode explicar a criação de super-heróis e vocês imaginam onde vamos chegar, não é?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/8TUICAa.jpg?1" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Salvadores do mundo!
            </h4>
            <p>Graças a Bruxa e seus poderes, isso pode ter criados os super-heróis do universo Pixar. Só que na década de 50/60 os heróis de Os Incríveis se tornaram alvo de um experimento governamental. E quando Síndrome (o Bochecha) cria inteligências artificiais e a Energia de Ponto Zero.

                Isso erradicaria os super-heróis e criaria objetos com consciência. A tecnologia criada por Síndrome pode ter sido adicionada a Buy N Large Corporation, que por incrível que pareça, surge em diversos filmes da Pixar, principalmente Wall-E.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/gBRi7gI.png?1" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Os brinquedos

            </h4>
            <p>Graças a esse tipo de tecnologia, no decorrer do tempo, a BnL Corp continuou seus trabalhos e a Energia de Ponto Zero, por viajar através de ondas, consegue atingir alguns objetos inanimados: Os brinquedos de Toy Story.

                No final da década de 90, os brinquedos ganham vida e começam a estabelecer regras, como a de nunca se mexer em frente aos humanos. Mas o amor que as crianças lhes fornecem pode garantir para eles mais energia e eles necessitam disso para continuar vivendo. Quando eles aprendem que ser abandonados por seus donos podem lhe trazer problemas, o ressentimento entre objetos e animais contra os humanos começa a crescer.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/NAYS8ke.jpg?1" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Os animais !

            </h4>
            <p>Enquanto essa revolução começa do lado dos objetos, com os brinquedos, mais pra frente nós conhecemos Procurando Nemo. No filme um detalhe passa um pouco despercebido, mas que faz todo sentido: Dory consegue entender outras línguas. Em Procurando Dory é revelado que a criação em cativeiro do peixinho fez com que ela aprendesse outras línguas.

                Mas como isso é possível? Lembra que a Energia de Ponto Zero viaja em ondas? Então seria uma possibilidade, além de que muitos animais estavam passando por experiências e a poluição ao meio ambiente pode ter provocado essa ‘contaminação’ aos bichinhos.
                
                Prova disso é que o ratinho Remy, de Ratatouille, é o primeiro animal a ter contato direto com um humano. Por conta da energia, ele desenvolve a habilidade de cozinhar, o que ajuda Linguini, deixando que o animal o controle. Outro ponto questionável é que os ratos do clã de Remy odeiam os humanos e isso seria causado pelo fato das experiências e poluição causadas pelo humano.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/o7kOlqe.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>As descobertas!

            </h4>
            <p>Em 2010, quando Toy Story 3 foi lançado, nós vemos Lotso, o urso roxo, claramente irritado por ter sido abandonado. Os brinquedos se cansaram dos humanos e o urso de pelúcia, enquanto o ressentimento aos humanos cresce, tenta cuidar de seu povo.

                Já em UP – Altas Aventuras, o senhor Carl descobre que um cachorro é capaz de se comunicar através de uma coleira. Ele acaba percebendo que os animais em geral tem um pensamento amargo em relação aos seres humanos, o que pode ter feito às histórias terem passado de bicho por bicho.
                
                A teoria conta que devido a esse ressentimento entre animais e humanos, isso pode ter gerado uma guerra entre as raças e os humanos acabaram levando a melhor.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/lig1EJr.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Energia humana

            </h4>
            <p>Além da criação de Síndrome, os humanos foram capazes de criar sua própria energia, como mostrada em Toy Story: o amor, por exemplo. Só que Divertidamente mostra que isso é capaz através de muitas formas, Alegria por ser a líder das emoções é a mais poderosa.

                Isso fica claro em Monstros S.A., que mostra como eles alimentam a energia da cidade através do medo, com os gritos das crianças e, depois, com a risada, de alegria.
                
                Em Viva – A Vida é uma Festa mostra que não só os sentimentos, mas também as lembranças são importantes nesse universo. E isso segue uma tradição mexicana, que enquanto pelo menos uma pessoa viva ainda se lembra de alguém que morreu, a pessoa morta tem permissão para viver na Terra dos Mortos. Quando ninguém se lembra desse alguém, essa pessoa deixa realmente de existir.
                
                Se você reparar, exatamente isso acontece com o amigo imaginário de Riley em Divertidamente. Bing Bong é esquecido pela garotinha e ele desaparece de vez.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/MqDdKdI.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Destino da Humanidade

            </h4>
            <p>Conforme os seres humanos vão evoluindo, as tecnologias vão sendo aprimoradas e carros ganham vida, exatamente como aconteceu com os brinquedos em Toy Story. Nesse período, os humanos tornam as máquinas seus aliados para destruir os animais. Porém, os humanos começam a ser levados para o espaço, deixando as tecnologias para trás.

                Isso explicaria porque em Carros, Carros 2 e Carros 3 nenhum ser humano pode ser visto. A aquela altura do campeonato, os humanos já estão bem longe e habitando outros lugares. Por conta disso, com o adicional da BnL Corp estra trabalhando na Terra, o planeta se tornou um lugar inabitável para qualquer tipo de vida.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/R4p0gFn.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Mutações na Terra!

            </h4>
            <p>Quando Wall-E foi criado pela BnL Corp, foi a única máquina funcional que eles deixaram na Terra. Os humanos já estão há mais de 100 anos fora do planeta e quando ele conhece EVA, as duas máquinas ajudam a salvar os humanos no espaço graças a uma muda de planta que foi cultivada em uma bota velha.

                Essa muda é replantada na Terra e se torna a grande árvore de Vida de Inseto. Graças à evolução e os genes mutados, os animais estão mais fortes e mais inteligentes do que nunca. Só que a radiação exagerada da BnL levou a extinção acidental dos humanos e outras espécies, como monstros mutantes, se tornaram a raça dominante naquele mundo.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/44XXpXA.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>Quase um assalto no tempo da Marvel
            </h4>
            <p>Por isso que em Universidade Monstros, a raça dominante aprende falsamente que os humanos são tóxicos e são de outra realidade. Mas isso faz com que monstros e máquinas percebam que os seres humanos podem fornecer energia e eles descobrem uma forma de interagir com as pessoas através de portas mágicas que viajam no tempo.

                É aqui que a teoria aponta que na realidade, o amigo imaginário de Riley, o Bing Bong era um monstro que a visitou através de uma dessas portas. A garota se apegou tanto ao bichinho que acabou criando uma memória afetiva dele e desenvolveu um amigo imaginário baseado no elefante cor-de-rosa.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/tnfenUw.jpg" alt="Nature" style="width:100%;">
        <div class="text-block">
              <h4>E tudo por que...

            </h4>
            <p>Lembra quando falamos que a Bruxa seria importante para entender essa história? Pois é, ela realmente é muito importante. A Bruxa seria esse tempo todo, a Boo de Monstros S.A., que ficou obcecada em ir atrás de Sully, que era o seu 'gatinho'.

                Como a porta foi destruída, a pequena Boo tentou achar diversas formas de encontrar o seu melhor amigo. Por conta disso, ela acaba descobrindo uma magia que capacita à viagem no tempo através de portas e ela vira a bruxa em Valente. Prova disso é que em Valente, a Bruxa tem uma porta com a imagem de Sully desenhado em um canto.
                Ou seja, esse universo foi todo criado por conta do amor e obsessão por Boo ao Sully. Através das mutações que as coisas sofreram no decorrer dos anos, isso foi sendo trabalhado e descoberto a cada filme lançado do estúdio.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
  </div>